$maincolor : #3867c6;
$secondcolor : aliceblue;
//#2751a5
@mixin input {
	height: 40px;
	padding: 5px;
	border: 0;
	border-bottom: 2px solid $maincolor;
	transition: background 250ms;
	&:hover{
		background-color: $secondcolor;
	}
}

@mixin button {
	height: 40px;
	border: 0;
	background-color: $secondcolor;
	cursor: pointer;
	transition: opacity 250ms;
	&:hover{
		opacity: 0.8;
	}
}

@mixin whiteBlock{
	position: relative;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
	border-radius: 4px;
}