// out: style.css, compress: true, sourceMap: true, autoprefixer: last 5 versions, groupmedia: true
@import 'normalize';
@import 'mixin';

body{
	display: flex;
	height: 100vh;
	flex-direction: column;
	.header-wrapper{
		text-align: center;
	}
	.footer-wrapper{
		margin-top: auto;
		padding: 20px;
	}
	.main-wrapper{
		margin-top: 20px;
	}
	input{
		@include input
	}
	button{
		@include button
	}
}
.login-warpper{
	@include whiteBlock;
	display: flex;
	width: 100%;
	max-width: 500px;
	margin: auto;
	justify-content: center;
	flex-direction: column;
	form{
		fieldset{
			flex-direction: column;
			> label{
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				> span{
					width: 100px;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		button{
			margin-top: 10px;
			width: 100%;
		}
	}
	.login-message-result{
		height: 40px;
		padding: 10px;
		&.error{
			color: red;
		}
		&.success{
			color: green;
		}
	}
}